body {
  font-family: "Baloo Tammudu 2", cursive;
  text-align: center;
  line-height: 1.2;
  margin: auto;
  padding: 0;
}

.food {
  font-weight: bold;
}

section {
  border: 4px solid black;

  margin-left: 3%;
  background-color: gray;

  position: relative;
}

section a {
  color: #dc143c;
}

section a:hover {
  text-decoration: none;
  color: #ffebcd;
  background: #dc143c;
  padding: 5px;
}

.chicken h2,
.beef h2,
.sushi h2 {
  position: absolute;
  border: 2px solid black;
  right: 0;
  top: 0;
  background: #ffb6c1;
  padding: 1%;
  margin-bottom: 2em;
  width: 10rem;
  text-align: center;
}

.beef h2 {
  background: #dc143c;
  color: white;
}
.sushi h2 {
  background: #ffebcd;
}

.chicken p,
.beef p,
.sushi p {
  padding: 15% 2% 1% 2%;
}

@media screen and (max-width: 991px) {
  div {
    margin-bottom: 10px;
    margin-left: 0;
  }

  .sushi {
    margin-left: 12px;
  }
}
